
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-card {
    background-color: #FFFFFF;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    border: 2px solid #333333;
}
.icon-circle {
    background-color: #E0E0E0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: -40px auto 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
h2 {
    color: #000000;
    margin-bottom: 20px;
}
label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333333;
}
input[type="text"], input[type="password"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #303F9F;
}
.login-link {
    margin-top: 20px;
}

.login-text {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}